<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="popup.mapper.AlarmMapper">
  
  	 <insert id="insertAlarm" > 
        INSERT INTO alarm
        (alarm_num,member_num,alarm_content,alarm_time,store_num)
        VALUES
        (alarm_sequence.nextval, #{memberNum}, #{alarmContent}, #{alarmTime},  #{storeNum})

 	 </insert>
  
  	<delete id="deleteAlarm" parameterType="_int">
		DELETE FROM alarm
		WHERE member_num = #{memberNum} AND store_num = #{storeNum}
	</delete>
  
  
  	  <select id="getStoreByAlarm" resultType="_int">
   	 	SELECT store_num FROM alarm
    	WHERE member_num = #{customerNum}
    	ORDER BY store_num
    	</select>
  
  <!--  AND alarm_time < sysDate AND alarm_time+1 > sysDate -->
  	<select id="getAlarm" resultMap="alarmResultMap">
   	 	SELECT * FROM alarm
    	WHERE member_num = #{memberNum}
    	</select>
  
  	
  	<resultMap id="alarmResultMap" type="popup.dto.Alarm">
  		<result property="alarmNum" column="alarm_num" />
  		<result property="memberNum" column="member_num" />
  		<result property="storeNum" column="store_num" />
  		<result property="alarmContent" column="alarm_content" />
  		<result property="alarmRead" column="alarm_read" />
  		<result property="alarmTime" column="alarm_time" />
  		<result property="alarmCheckedTime" column="alarm_checked_time" />
  		<result property="alarmStatus" column="alarm_status" />
  		<result property="alarmCreate" column="alarm_create" />
  		
  		
  	</resultMap>
  
 
  
  
  
  
</mapper>