<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="popup.mapper.AskMapper">
  
  <insert id="insertAsk" parameterType="popup.dto.Ask">
 		INSERT INTO ASK (ask_num, 
 						 ask_email, 
 						 ask_title, 
 						 ask_body, 
 						 ask_check)
					VALUES (ask_sequence.nextval,
							#{ask_email},
							#{ask_title},
							#{ask_body},
							0)
 	</insert>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>