<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="popup.mapper.OpenStoreMapper">
 
 
  
  <select id="getOpenStoreList" resultMap="openStoreList">
	SELECT s.store_num, s.store_loc, s.store_loc_detail, s.store_title, s.store_body, s.store_intro, s.store_start, s.store_end, s.store_site, p.picture_name
	FROM store s
	JOIN picture p ON p.store_num = s.store_num where p.picture_type = 1
  </select>
  
  <select id="getMapList2" resultMap="openStoreList">
    
	SELECT *
	FROM store
	WHERE store_num = #{storeNum}
	
      
  </select>
  
  <select id="getMapList" resultMap="openStoreList">
    
	SELECT s.store_num, s.store_loc, s.store_loc_detail, s.store_title, s.store_body, s.store_intro, s.store_start, s.store_end, s.store_site, s.store_count, p.picture_name
	FROM store s
	JOIN picture p ON p.store_num = s.store_num where p.picture_type = 1
	
      
  </select>
  
  
 	<resultMap id="openStoreList" type="popup.vo.StoreVo">
        <result property="storeNum" column="store_num" />
         <result property="memberNum" column="member_num" />
        <result property="storeTitle" column="store_title" />
        <result property="storeIntro" column="store_intro" />
        <result property="storeBody" column="store_body" />
        <result property="storeStart" column="store_start" />
        <result property="storeEnd" column="store_end" />
        <result property="storeFavorite" column="store_favorite" />
        <result property="storeLoc" column="store_loc"/>
        <result property="storeLocDetail" column="store_loc_detail"/>
        <result property="storeSite" column="store_site"/>
        <result property="storeStatus" column="store_status" />      
        <result property="pictureName" column="picture_name" />
        <result property="pictureNum" column="picture_num" />
        <result property="storeCount" column="store_count" />
    </resultMap>
    
    <select id="getStoreByTitle" resultMap="openStoreList">
   	 	SELECT * FROM store
    	WHERE store_title LIKE '%' || UPPER(#{inputText}) || '%'
    	OR store_loc LIKE '%' || UPPER(#{inputText}) || '%'
	</select>
    
	
     <select id="filterStoreList" resultMap="openStoreList">
    
      SELECT store_num ,member_num ,store_title, store_intro, store_body , store_start, store_end , store_favorite , store_loc , store_loc_detail , store_site , store_status 
      FROM store
      WHERE store_num IN 
        <foreach item="item" collection="storeNum" open="(" separator="," close=")">
            #{item}
        </foreach>
      	
  </select>
 	
 	<!-- 스토어 번호를 통한 조회수 증가 -->
 	<update id="countStoreByStoreNum" parameterType = "_int">
 		UPDATE store
 		SET store_count = store_count + 1
 		WHERE store_num = #{storeNum}
 	</update>

  
  
</mapper>