<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="popup.mapper.PictureMapper">
  
  
  <insert id="insertPicture" parameterType = "popup.dto.Picture">
 		INSERT INTO 
 		picture (picture_num,store_num,picture_path,picture_name,picture_original_name,picture_size,picture_date)
 		VALUES(
			    picture_sequence.nextval,
				#{storeNum}, 
				#{picturePath},
				#{pictureName},
				#{pictureOriginalName},
				#{pictureSize},      
				SYSDATE
	
 		)
 	</insert>
  	
  	<select id="getPictureByStoreNum" resultMap="pictureResultMap">
  		SELECT picture_name FROM picture WHERE store_num = #{storeNum}
  	</select>
  
  	 <resultMap id="pictureResultMap" type="popup.dto.Picture">
        <result property="pictureName" column="picture_name" />
    </resultMap>
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>