<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="popup.mapper.StoreMapper">
 
 
  
  <select id="getStoreList" resultMap="storeResultMap">
    
      SELECT s.store_num, s.store_title, m.member_company_name,m.member_nickname ,s.store_count, s.store_status
      FROM store s
      JOIN member m ON s.member_num = m.member_num
      ORDER BY s.store_num DESC
    
  </select>
  
  <resultMap id="storeResultMap" type="popup.vo.StoreVo">
        <result property="storeNum" column="store_num" />
        <result property="storeTitle" column="store_title" />
        <result property="memberCompanyName" column="member_company_name" />
         <result property="memberNickname" column="member_nickname" />
        <result property="storeCount" column="store_count" />
        <result property="storeStatus" column="store_status" />
    </resultMap>
    
  <insert id="insertStore" parameterType="popup.dto.Store"> 
        INSERT INTO store
        (store_num, member_num, store_title, store_intro, store_body, store_start, store_end, store_loc, store_site)
        VALUES
        (store_sequence.nextval, #{memberNum}, #{storeTitle}, #{storeIntro}, #{storeBody}, #{storeStart}, #{storeEnd}, #{storeLoc}, #{storeSite})
  </insert>


  <select id="getMaxStoreNum" resultType="int">
    SELECT MAX(store_num) FROM store
  </select>
  
 	
    
 	
 

  
  
</mapper>